// Size/
$max-width: {{ .Param "style.pageWidth" | default "750px;" }};
$avatar-size: {{ .Param "style.avatarSize" | default "90px;" }};

// Colors
$bgcolor: {{ .Param "style.colorDark" | default "#111111" }};
$fgcolor: {{ .Param "style.colorLight" | default "#eeeeee" }};
$red: {{ .Param "style.colorRed" | default "#dc3545" }};

// Font
$font-family: {{ .Param "style.fontFamily" | default "Inconsolata" }};
$font-size: {{ .Param "style.fontSize" | default "14pt" }};

// Margins
$y-small: 0.6rem;
$y-medium: 1.0rem;

// Placeholders
%link-default {
    color: $red;
    text-decoration: none;
    & * {
        color: $red;
    }
    &:hover {
        color: $red;
        text-decoration: underline;
    }
}

%link-dark {
    color: $fgcolor;
    text-decoration: none;
    & * {
        color: $fgcolor;
    }
    &:hover {
        color: $fgcolor;
        text-decoration: underline;
    }
}

%table-cell {
    border: 1px solid $fgcolor;
    padding: 6px 12px;
    text-align: left;
}

// Style
* {
    color: $fgcolor;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.2;
}

body {
    background-color: $bgcolor;
}

.container {
    max-width: $max-width;
}

.navbar-brand {
    @extend %link-dark;
    font-size: 1.5rem;
}

.navbar-brand img {
  max-height: 50px;
}

.nav-link {
    @extend %link-default;
}

.skill {
    color: $red;
}

#content {

    a {
        @extend %link-default;
        text-decoration: none;
        border-bottom: 1px solid $red;
        padding-bottom: 1px;
    }

    a:hover {
        text-decoration: none;
    }

    p {
        margin-bottom: $y-small;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: medium;
        font-weight: bold;
        margin: $y-medium 0 $y-small 0;
    }

    h2 {
        text-transform: uppercase;
    }

    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }

    img {
        display: block;
        margin: $y-medium auto;
        max-width: 100%;
    }

    .avatar > img {
        border-radius: 50%;
        float: right;
        margin: -8px 0 0 16px;
        height: $avatar-size;
        width: $avatar-size;
    }

    ol {
        counter-reset: list -1;
        list-style: none;
        padding-left: 2rem;
        & > li {
            display: table-row;
        }
        & > li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
            display: table-cell;
            text-align: right;
            padding-right: .5em;
        }
    }

    .container > ol, .footnotes > ol {
        padding-left: 0;
    }

    ul {
        list-style: inside;
        padding-left: 2rem;
        & > li {
            list-style-position: outside;
            margin-left: 1em;
        }
    }

    .container > ul, .footnotes > ul {
        padding-left: 0;
    }

    table {
        margin: $y-medium auto;
        width: 100%;
        & th {
            @extend %table-cell;
            font-weight: bold;
        }
        & td {
            @extend %table-cell;
        }
    }

    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $y-medium 0;
        padding: 8px 8px;
    }

    code {
        color: $fgcolor;
        background-color: darken($bgcolor, 10%);
        border: 1px solid darken($bgcolor, 20%);
        padding: 0px 4px;
        border-radius: 3px;
    }

    pre code {
        all: unset;
    }

    .highlight {
        margin: $y-medium auto;
        & > pre {
            padding: 8px 8px;
            margin-bottom: 0;
        }
        border: 1px dashed $fgcolor;
        border-radius: 10px;
    }
}

@media print {
  #header {
    display: none;
  }
}

#footer {
    a {
        @extend %link-dark;
    }
}
